head{
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    background: lightblue;
}

#navHeader {
    background-image: url("../images/Skyline.jpg");
    background-size: cover;
    position: relative;
    height: 120px;
}

.nav {
    background-color: blanchedalmond;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
    height: 70px;
}

.nav-tabs:hover {
    color: black;
}

.nav-link {
    color: green;
}

#about {
    background: lemonchiffon;
    height: 200px;
}

#showcase {
    border-style: dashed;
    border-width: 5px;
    border-color: moccasin;
}

#carousel-highlights {
    position: relative;
    font-size: 16px;
    width: 70%;
    left: 100px;
}