head{
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
}

#navHeader {

    background-color: dodgerblue;
    position: sticky;
}

.nav-link {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

#about {
    background: khaki;
    height: 500px;
}

#about-container {
    border-color:black;
    border-width: 5px;
    border-style: dotted;
    position: relative;
    height: 500px;
    width: auto;
    padding: 100px;
    text-align: center;  
}

#profile {
    border-radius: 20px;
    transform: rotate(90deg);
    position: relative;
}

#portfolio-head {
    font-size: 50px;
}

#aboutme-text {
    position: relative;
    height: 100px;
}

#about-text {
    position: inherit;
    height: 100px;
}

#showcase {
    border-style: dashed;
    border-width: 5px;
    border-color: moccasin;
}

#carousel-highlights {
    position: relative;
    font-size: 16px;
    width: 70%;

}

#contact {
    background-color: honeydew;
}