head{
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
}

.navbar { 
    background-color: #762af0;
}

#nav-header {
    background-color: lawngreen;
}

.nav-link {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.about {
    background: #be0a0aec;
    height: 100%;
    padding: 100px;
}

#about-container {
    border-color:black;
    border-width: 5px;
    border-style: dotted;
    position: relative;
    height: 100%;
    width: auto;
    padding: 100px;
    text-align: center;  
}

#profile {
    border-radius: 20px;
    transform: rotate(90deg);
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.position-absolute {
    position: absolute!important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    transition: all ease .5s;
    opacity: 0;
    background-color: aquamarine;
}

.portfolio-item {
    margin: 1rem;
}

#portfolio {
    background-color: rgba(255, 221, 30, 0.925);
    padding: 6rem;
}

.d-flex {
    display: flex!important;
}

.w-100 {
    width: 100%!important;
}

.h-100 {
    height: 100%!important;
}


#contact {
    background-color: honeydew;
    padding: 6rem;
}

.footer {
    background-color: dodgerblue;
    padding: 6rem;
}

.footer-text {
    font-size: 3rem;
    color: white;
}

.copyright {
    background-color: navy;
    color: white;
}

.footer-text-box {
    border-color: black;
    border-width: 1rem;
    border-style: double;
    padding: 6rem;
}

.footer-item-box {
    border-color: salmon;
    border-width: 1rem;
    border-style: double;
    padding: 2rem;
}

.footer-item {
    border-color: black;
    border-width: 2rem;
    border-style: dotted;  
}